@using Microsoft.AspNetCore.Components
@using System.Runtime.InteropServices
@namespace WideWorldImporters.Client.Blazor.Shared

<PageTitle>Wide World Importers Demo</PageTitle>

<div @ref="container">
    <FluentLayout>
        <FluentHeader Class="siteheader">
            <a href="/">
                Wide World Importers
            </a>
            <FluentSpacer />

            <div class="notifications">
                <NotificationCenter />
            </div>
            <div class="settings">
                <SiteSettings />
            </div>
        </FluentHeader>

        <FluentStack Class="body-stack" Orientation="Orientation.Horizontal" Width="100%" HorizontalGap="0">
            <div class="menutoggle">
                <label for="menu-toggle" class="menu-icon">
                    <FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Neutral" />
                </label>
                <input type="checkbox" id="menu-toggle" checked=@menuchecked @onclick=HandleChecked />


                <nav class="sitenav"
                     onclick="document.getElementById('menu-toggle').click()">
                    <NavMenu />
                </nav>
            </div>
            <FluentBodyContent id="body-content" Style="height: calc(100dvh - 90px);">
                <div class="content">
                    <article id="article">
                        
                        <FluentMessageBarProvider Section="@App.MESSAGES_TOP" />

                        <ErrorBoundary @ref="errorBoundary">
                            <ChildContent>
                                    @Body
                            </ChildContent>
                            <ErrorContent Context="ex">
                                <div class="blazor-error-boundary">@ex.Message</div>
                            </ErrorContent>
                        </ErrorBoundary>
                    </article>
                    <aside>
                        <!-- Side Information -->
                    </aside>

                    <FluentToastProvider MaxToastCount="10" />
                    <FluentDialogProvider />
                    <FluentTooltipProvider />

                </div>
            </FluentBodyContent>
        </FluentStack>

        <FluentFooter Style="@("height: 40px; color: white;")">
            <div class="version">
                <small>
                    Version: @_version
                    &nbsp;-&nbsp;
                    <a href="https://dotnet.microsoft.com/en-us/learn/aspnet/what-is-aspnet-core">Powered by @RuntimeInformation.FrameworkDescription</a>
                </small>
            </div>
            <FluentSpacer />

            <div class="copy">
                <small>© 2023. All rights reserved.</small>
            </div>
        </FluentFooter>

    </FluentLayout>
</div>