@page "/ColdRoomTemperatures"
@using WideWorldImporters.Client.Blazor.Components
@using WideWorldImporters.Client.Blazor.Shared.Models;
@using WideWorldImporters.Shared.ApiSdk.Models.WideWorldImportersService;
@using WideWorldImporters.Shared.ApiSdk;

@inject ApiClient ApiClient

<PageTitle>Cold Room Temperatures</PageTitle>

<h1>Cold Room Temperatures</h1>

@if (ColdRoomTemperatureProvider == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentDataGrid @ref="DataGrid" ItemsProvider="@ColdRoomTemperatureProvider" Pagination="@Pagination" TGridItem=ColdRoomTemperature>
        <PropertyColumn Title="ColdRoomTemperature ID" Property="@(c => c!.ColdRoomTemperatureId)" Sortable="true" Align=Align.Start>
            <ColumnOptions>
                <NumericFilter TItem="int" PropertyName="ColdRoomTemperatureId" FilterState="FilterState"></NumericFilter>
            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Title="Recorded When" Property="@(c => c!.RecordedWhen)" Format="yyyy-MM-dd mm:ss" Sortable="true" Align=Align.Start>
            <ColumnOptions>
                <StringFilter PropertyName="RecordedWhen" FilterState="FilterState"></StringFilter>
            </ColumnOptions>
        </PropertyColumn>
        <PropertyColumn Title="Temperature" Property="@(c => c!.Temperature)" Sortable="true" Align=Align.Start>
            <ColumnOptions>
                <NumericFilter TItem="decimal" PropertyName="Temperature" FilterState="FilterState"></NumericFilter>
            </ColumnOptions>
        </PropertyColumn>
    </FluentDataGrid>

    <FluentPaginator State="@Pagination" />
}
